<table style="margin-top: 15px;" class="table tableBordered table-hover">

    <thead class="table-head">
        <tr>
            <td>ID</td>
            <td>Название атрибута</td>
            <td>Влияет на:</td>
            <td>Тип показателя</td>
            <td>Строгий</td>
            <td>Действия</td>
        </tr>
    </thead>

    <tbody class="attributeListTbody">

        {{if our_data}}
            {{each($i, $val) our_data}}
                <tr>
                    <td>${$val.attribute.id}</td>
                    <td>
                        {{each($sub_i, $sub_val) $val.attribute_languages}}
                            ${$sub_val.name}
                        {{/each}}
                    </td>
                    <td>
                        {{if parseInt($val.attribute.influence_type) == 0}}
                            Описание
                        {{else}}
                            Цену
                        {{/if}}
                    </td>
                    <td>
                        {{if parseInt($val.attribute.measurement_type) == 0}}
                            Текстовый
                        {{else}}
                            Качественный
                        {{/if}}
                    </td>
                    <td>{{if parseInt($val.attribute.strict) == 1}}Нет{{else}}Да{{/if}}</td>
                    <td>
                        <div data-attribute_id="${$val.attribute.id}" class="attribute_icon_wrap pull-right">
                            <i class="icon-trash menu_icon deleteAttribute" title="Удалить атрибут"></i>
                        </div>
                        <div data-cattribute_id="${$val.attribute.id}" class="attribute_icon_wrap pull-right">
                            <i class="icon-pencil menu_icon editAttribute" title="Редактировать атрибут"></i>
                        </div>
                    </td>
                </tr>
            {{/each}}
        {{/if}}

    </tbody>

</table>


