{{if windTabWrap || openInTab === false}}
    <div data-class="${className}" class="${className} current" id="${id}">
    <div class="seo_title" style="display: none;">${our_data.lang[pref].seo_title}</div>
{{/if}}
    <div class="staticCompWrap">
        <div class="staticCompContent">
            {{if our_data.lang && our_data.lang[pref]}}
            <h1 class="staticCaption">${our_data.lang[pref].title} <span class="staticDate">${our_data.date.split('-')[0]}.${our_data.date.split('-')[1]}.${our_data.date.split('-')[2]}</span></h1>
            <div class="clear"></div>
            <div class="staticDescription">
                {{if our_data.lang[pref].description}}
                {{html our_data.lang[pref].description}}
                {{/if}}
            </div>
            <div class="capScroll">&nbsp;</div>
            {{/if}}
        </div>
    </div>
{{if windTabWrap || openInTab === false}}
    </div>
{{/if}}