<div class="questionVariantCont">

    <div class="btn btn-primary addQuestionVariant">Добавить вариант вопроса</div>

    <div id="questionVariantWrap">

    </div>
</div>

<div class="emailContent">
    <div class="btn btn-primary addEmail">Добавить е-mail</div>

    <div id="emailWrap">

    </div>

</div>