<div class="AMSep first"></div>
<a href="${base_url}description/" class="amMI new_inner_component">Описание</a>
<div class="AMSep"></div>
<a href="${base_url}characteristic/" class="amMI new_inner_component">Характеристики и цены</a>
<div class="AMSep"></div>
<a href="${base_url}colors/" class="amMI new_inner_component">Цветовая гамма</a>
<div class="AMSep"></div>
<a href="${base_url}review/" class="amMI new_inner_component">360 обзор</a>
<div class="AMSep"></div>
<a href="${base_url}kredit/" class="amMI new_inner_component">Кредит</a>
<div class="AMSep"></div>

