<form class="form-inline miniBlockForm">

   <input type="hidden" value="${placeholder_id}" name="placeholder_id" />

    <div class="control-group">
       <label class="control-label" for="key">Мини блок:</label>
       <div class="controls">
           <input class="miniBlockName" value="" type="text" name="name" placeholder="Название" />
           <input class="miniBlockId" value="" type="hidden" name="mini_block_id" />
           <span class="help"></span>
       </div>
    </div>
    <div class="control-group">
        <div class="btn saveMiniBlock">
            <i class="icon-ok" title="Сохранить связку с мини-блоком"></i>
        </div>
        <div class="btn deleteMiniBlock">
            <i class="icon-remove" title="Удалить связку с мини-блоком"></i>
        </div>
    </div>
</form>