<form class="form-inline attributeForm">
    <input type="hidden" class="attrId" value="" name="id" />
    <input type="hidden" value="${placeholder_id}" name="placeholder_id" />

    <div class="control-group">
        <label class="control-label" for="key">Ключ:</label>
        <div class="controls">
            <input class="input-small" value="" type="text" name="key" />
            <span class="help"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="value">Значение:</label>
        <div class="controls">
            <input value="" type="text" name="value" />
            <span class="help"></span>
        </div>
    </div>
    <div class="control-group">
        <div class="btn saveAttr">
            <i class="icon-ok" title="Сохранить атрибут"></i>
        </div>
        <div class="btn deleteAttr">
            <i class="icon-remove" title="Удалить атрибут"></i>
        </div>
    </div>
</form>