

<img class="normal-bg wind-title-bg" src="${site_url}images/min_wind_head_bg.png"/>
<img class="maxi-bg wind-title-bg" src="${site_url}images/wind_head.png"/>

<div class="window-btn-wrap">
    <div class="normal">
        <div class="window-minimizeButton">
            <img src="${site_url}images/svernut_red.png"/>
            <img class="hover" src="${site_url}images/svernut_red1.png"/>
        </div>
        <div class="window-maximizeButton">
            <img src="${site_url}images/resize_red.png"/>
            <img class="hover" src="${site_url}images/resize_red1.png"/>
        </div>
        <div class="window-closeButton">
            <img src="${site_url}images/close_red.png"/>
            <img class="hover" src="${site_url}images/close_red1.png"/>
        </div>
    </div>
    <div class="maxi">
        <div class="window-minimizeButton">
            <img src="${site_url}images/svernut.png"/>
            <img class="hover" src="${site_url}images/svernut1.png"/>
        </div>
        <div class="window-maximizeButton">
            <img src="${site_url}images/resize.png"/>
            <img class="hover" src="${site_url}images/resize1.png"/>
        </div>
        <div class="window-closeButton">
            <img src="${site_url}images/close.png"/>
            <img class="hover" src="${site_url}images/close1.png"/>
        </div>
    </div>
</div>
