<div id="add_component" class="btn btn-primary">Добавить страницу</div>

<table id="pages_table">
    <thead>
        <tr>
            <td style="width: 5%;">ID</td>
            <td style="width: 20%;">Название страницы</td>
            <td style="width: 20%;">Тип страницы</td>
            <td style="width: 47%;">Связаный пункт меню</td>
            <td style="width: 8%;">Действия</td>
        </tr>
    </thead>
    <tbody>
        {{if pages}}
            {{each($i, $val) pages}}
                <tr>
                    <td>${$val.id}</td>
                    <td class="component_name"><a class="new_component" title="${$val.name}" href="${base_url}admin/${$val.component_type_id}/${$val.component_type.name}/${$val.content_id}">${$val.name}</a></td>
                    <td>${$val.component_type.psevdo_name}</td>
                    <td data-component_id="${$val.id}">
                        {{if $val.menu_item}}
                            {{each($j, $v) $val.menu_item}}
                                ${$v.value}<i data-menu_item_id="${$v.menu_item_id}" title="Отвязать пункт меню" class="icon-resize-full menu_icon disconect_menu_item"></i>{{if ($j+1) ==  $val.menu_item.length}}.{{else}}, {{/if}}
                            {{/each}}
                        {{/if}}
                    </td>
                    <td>
                        <div class="component_icon_wrap" data-component_id="${$val.id}">
                            <i title="Привязать пункт меню" class="icon-resize-small menu_icon conect_menu_item"></i>
                            <i title="Редактировать название страницы" class="icon-pencil menu_icon edit_component"></i>
                            <i title="Удалить страницу" class="icon-trash menu_icon delete_component"></i>
                        </div>
                    </td>
                </tr>
            {{/each}}
        {{/if}}
    </tbody>
</table>