<form class="form-inline productForm">

    <div class="control-group">
        <label class="control-label" for="product_id">Название товара:</label>
        <div class="controls">
            <input value="" class='productName' id='productName${counter}' type="text" name="value" />
            <input type="hidden" class="productId" value="0" name="product_id" />
            <span class="help"></span>
        </div>
    </div>
    <div class="control-group">
        <div class="btn saveProduct">
            <i class="icon-ok" title="Сохранить товар"></i>
        </div>
        <div class="btn deleteProduct">
            <i class="icon-remove" title="Удалить товар"></i>
        </div>
    </div>
</form>