<div id="product_block_wrap">

    <div class="btn btn-primary addProductBlock">Добавить блок с товарами</div>

    <div class="clear"></div>

    <table style="margin-top: 15px;" class="table tableBordered table-hover">
        <thead class="table-head">
            <tr>
                <td>ID</td>
                <td>Название</td>
                <td>Количество строк</td>
                <td>Количество столбцов</td>
                <td>Действия</td>
            </tr>
        </thead>
        <tbody id="productBlockContent">

        </tbody>
    </table>


</div>