{{if our_data}}
    {{each($i, $val) our_data}}
        <tr>
            <td>${$val.id}</td>
            <td>${$val.lang[pref].name}</td>
            <td>${$val.row_quantity}</td>
            <td>${$val.column_quantity}</td>
            <td>
                <div data-product_block_id="${$val.id}" class="product_block_icon_wrap pull-right">
                    <i class="icon-pencil menu_icon editProductBlock" title="Редактировать блок с товарами"></i>
                    <i class="icon-trash menu_icon deleteProductBlock" title="Удалить блок с товарами"></i>
                </div>
            </td>
        </tr>
    {{/each}}
{{/if}}