<div id="subscribesWrap">
    <div id="tabWrap">
    <button class="tabBtn btn btn-primary" id="subscriptionButton" data-wrap="subscriptionWrap">Типы подписок</button>
    <button class="tabBtn btn" id="subscriberButton" data-wrap="subscriberWrap">Подписчики</button> 
    </div>
    <div id="subscriptionWrap" class="subWrap">
        <div id="subscriptionManipulation">

            <div class="btn btn-primary" id="addSubscription">Добавить тип подписки</div>

        </div>

        <div class="clear"></div>

        <div id="subscriptionsList">

        </div>
    </div>
    
    <div id="subscriberWrap" class="subWrap hidden">
        <div id="subscriberManipulation">

            <div class="btn btn-primary" id="addSubscriber">Добавить подписчика</div>

        </div>

        <div class="clear"></div>

        <div id="subscribersList">

        </div>
    </div>
</div>