<div style='padding: 20px;'>

    <div id="subWrap">

            <form class="form-horizontal" id="subscriptionForm">
                <table class="table table-striped table-bordered table-hover table-condensed" style="margin-top: 15px; ">
                    <thead class="table-head">
                        <tr>
                            <th colspan="2">
                                Информация о подписке
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 50%;">

                                <input type="hidden" name="id" id="subscription_id" value="{{if our_data}}${our_data.id}{{/if}}"/>

                                <div class="control-group">
                                    <div class="control-label">
                                        <label for="name">Название подписки:</label>
                                    </div>
                                    <div class="controls">
                                        <input type="text" name="name" value="{{if our_data}}${our_data.name}{{/if}}"/>
                                        <span class="help help-block"></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="control-label">
                                        <label for="description">Описание типа подписки:</label>
                                    </div>
                                    <div class="controls">
                                        <input type="text" name="description" value="{{if our_data}}${our_data.description}{{/if}}"/>
                                        <span class="help help-block"></span>
                                    </div>
                                </div>
                                
                                <div class="control-group">
                                    <div class="control-label">
                                        <label for="position">Позиция:</label>
                                    </div>
                                    <div class="controls">
                                        <input type="text" name="position" value="{{if our_data}}${our_data.position}{{/if}}"/>
                                        <span class="help help-block"></span>
                                    </div>
                                </div>
                </td>
                        </tr>
                    </tbody>
                </table>

                <div class="form-actions">
                    <div class='pull-right'>
                        <button class="btn btn-primary" type="submit">Сохранить изменения</button>
                        <div class="btn cancel">Отмена</div>
                    </div>
                </div>

            </form>
        </div>
    </div>
