<div class="aSBaner">
    <div class="aSBanerBg">
        <div class="aSOverlay"></div>
        <img class="aSBanerImg active" src="${base_url}js/images/bg1.jpg" />
        <img class="aSBanerImg" src="${base_url}js/images/bg2.jpg" />
        <img class="aSBanerImg" src="${base_url}js/images/bg3.jpg" />
    </div>
    <div class="aSMenuWrap">
        <div class="aSMenuSection active">
            <div class="bg"></div>
            <div data-index="0" class="aSGroupMenuItem">
                <div class="aSGroupMenuItemCapt">Mercedes</div>
            </div>
            <div class="aSMenuItemsWrap">
                <div class="aSMenuItem">Стоимость ТО</div>
                <div class="aSMenuItem">Запись на ТО</div>
                <div class="aSMenuItem">Экспесс-сервис</div>
                <div class="aSMenuItem">Отдел сервиса</div>
                <div class="aSMenuItem">Отдел запчастей</div>
                <div class="aSMenuItem">Сотрудники</div>
                <div class="aSMenuItem orderService">
                    <div class="bg"></div>
                    <span>заказать обслуживание</span>
                </div>
            </div>
        </div>
        <div class="aSMenuSection">
            <div class="bg"></div>
            <div data-index="1" class="aSGroupMenuItem">
                <div class="aSGroupMenuItemCapt">
                    Multibrand
                </div>
            </div>
            <div class="aSMenuItemsWrap">
                <div class="aSMenuItem">Стоимость ТО</div>
                <div class="aSMenuItem">Запись на ТО</div>
                <div class="aSMenuItem">Экспесс-сервис</div>
                <div class="aSMenuItem">Отдел сервиса</div>
                <div class="aSMenuItem">Отдел запчастей</div>
                <div class="aSMenuItem">Сотрудники</div>
                <div class="aSMenuItem orderService">
                    <div class="bg"></div>
                    <span>заказать обслуживание</span>
                </div>
            </div>
        </div>
        <div class="aSMenuSection">
            <div class="bg"></div>
            <div data-index="2" class="aSGroupMenuItem">
                <div class="aSGroupMenuItemCapt">
                    Кузовной ремонт
                </div>
            </div>
            <div class="aSMenuItemsWrap">
                <div class="aSMenuItem">Стоимость ТО</div>
                <div class="aSMenuItem">Запись на ТО</div>
                <div class="aSMenuItem">Экспесс-сервис</div>
                <div class="aSMenuItem">Отдел сервиса</div>
                <div class="aSMenuItem">Отдел запчастей</div>
                <div class="aSMenuItem">Сотрудники</div>
                <div class="aSMenuItem orderService">
                    <div class="bg"></div>
                    <span>заказать обслуживание</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="aSTextWrap">
    <div class="aSDescriptionWrap">
        <div class="aSDescriptionContent">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="text-align: left; vertical-align: top; width: 50%;">
                            <p>Официальный сервис &laquo;Петровка-Авто&raquo; предоставляет весь спектр сервисных услуг для марок отечественного и иностранного производства: OPEL, CHEVROLET, CHERY, LANOS, ZAZ, LADA.</p>

                            <p>Высококвалифицированные специалисты нашего автосервиса быстро и качественно, используя современное оборудование, выполнят:</p>

                            <ul>
                                <li>Компьютерную диагностику</li>
                                <li>Компьютерную регулировку углов развала и схождения</li>
                                <li>Ремонт ходовой части любой сложности</li>
                                <li>Капитальный ремонт двигателей</li>
                                <li>Обслуживание кондиционеров&nbsp;</li>
                                <li>Проточку тормозных дисков</li>
                                <li>Промывку инжекторов</li>
                                <li>Замену технических жидкостей</li>
                                <li>Комплексное косметическое обслуживание (автомойка, уборка салона, химчистка, полировка)</li>
                                <li>Установгу ГБО с сохранением заводской гарантии</li>
                                <li>Замер компрессии в цилиндрах двигателя</li>
                                <li>Шиномонтаж и балансировку</li>
                                <li>Регулировку направления света фар</li>
                                <li>Установку дополнительного оборудования</li>
                            </ul>
                        </td>
                        <td style="text-align: left; vertical-align: top; width: 50%;">
                            <p>Наши преимущества:</p>

                            <p>1.&nbsp; Большой опыт работы на рынке сервисных услуг.</p>

                            <p>2.&nbsp; Выполняем ремонты любой сложности.</p>

                            <p>3.&nbsp; Идеальная чистота и порядок в цеху.</p>

                            <p>4.&nbsp; Новейшее оборудование и технологии.</p>

                            <p>5.&nbsp; Сертифицированные мастера высокого класса с большим опытом работы.</p>

                            <p>6.&nbsp; Индивидуальный подход к каждому клиенту.</p>

                            <p>7.&nbsp; Накопительная система скидок</p>

                            <p>8.&nbsp; Постоянные акции, включая сезонные</p>

                            <p>9.&nbsp; Обслуживание без предварительной записи</p>

                            <p>10.&nbsp; Касса, автомагазин, комната отдыха, стол заказов, сервис, гарантия, запчасти &ndash; все в одном месте.</p>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="aSContactsWrap">
        <img class="bg" src="${site_url}js/images/map_bg.png" />
        <div class="aSContactsConteiner">
            <div class="bg"></div>
            <div class="aSContactsContent">

                <p>Сервис Mercedes-Benz &nbsp;<br />
                    (044) 206 20 02&nbsp; &nbsp;</p>

                <p>&nbsp;</p>

                <p>Режим работы &nbsp;<br />
                    ПН-СБ&nbsp;&nbsp; 8:30 - 20:30<br />
                    ВС&nbsp; 9:00 - 17:00</p>

                <p>&nbsp;</p>

                <p>Центр кузовного ремонта<br />
                    (044) 206-35-05</p>

                <p>&nbsp;</p>

                <p>Режим работы &nbsp;<br />
                    ПН-СБ&nbsp;&nbsp; 8:30 - 20:30<br />
                    ВС&nbsp; 9:00 - 17:00</p>


            </div>
        </div>
    </div>
</div>