.button{
    padding:5px;
    margin:10px;
    font-size:14px;
    font-family: sans;
}

.error {
    color: red;
    font-size: 11px;
    font-style: italic;
}

legend {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    font-size: 14px;
    padding: 5px 10px;
}

fieldset {
    background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #BBBBBB;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
}

.nav-tabs {
    border-bottom: 1px solid #d3d3d3;
}

.tabs_content .nav-tabs li a:hover {
    background: #d3d3d3;
}

.tabs_content .nav-tabs li.active a:hover {
    background: #fff;
}

a:hover {
    text-decoration: none;
}

.tab_content {
    display: none;
}

.tab_content.curr {
    display: block;
}

.close_tab {
    position: absolute;
    right: 2px;
    top: 0;
    opacity: 0.7;
}

.close_tab:hover {
    opacity: 1;
    cursor: pointer;
}

.nav_tab {
    position: relative;
}

.autocomplete-w1 {
    font-family: 'Adelle W01 Regular',serif;
    font-size: 16px;
    left: 0;
    margin: 6px 0 0 6px;
    position: absolute;
    top: 0;
}
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px; _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#C9E6ED; }
.autocomplete div { padding:5px 10px; white-space:nowrap; overflow:hidden; }
.autocomplete strong { font-weight:normal; color:#3399FF; }

.border {
    padding: 5px;
    border: 1px solid #bbb;
}

#content .hero-unit p {
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    font-weight: 100;
}

.control-group {
    margin-bottom: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar {
    margin: 0 15px;
}

.preload_wrapper {
    display: block;
}

.preload {
    background-color: #000000;
    content: ".";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1100;
}

#preLoadComp {
    display: none;
}

#preLoadComp .preload {
    background-color: #fff;
}

.preload_wrapper .progress {
    left: 40%;
    position: absolute;
    top: 50%;
    width: 20%;
    z-index: 1101;
}
.progress {
    background: #f5f5f5; /* for non-css3 browsers */
    background: -moz-linear-gradient(top, #f5f5f5,  #f9f9f9); /* for firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f9f9f9)); /* Safari 4+, Chrome */
    background: -webkit-linear-gradient(left top, left bottom, #f5f5f5, #f9f9f9); /* Chrome 10+, Safari 5.1+, iOS 5+ */
    background: -o-linear-gradient(top, #f5f5f5,#f9f9f9); /* Opera 11.10+ */
    background: -ms-filter:"progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#f5f5f5, EndColorStr=#f9f9f9, GradientType=0)";
    background: linear-gradient(to bottom, #f5f5f5,#f9f9f9); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType='0'); /* for IE */
    background-repeat: repeat-x;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 18px;
    margin-bottom: 18px;
    overflow: hidden;
}

#tab_navigation {
    margin: 0;
    border: none;
}

#tab_container {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0 5px 5px 5px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    overflow: hidden;
    position: relative;
}

#work_space {
    margin-top: 0;
}

.table .table-head th {
    background-color: #4F4F52;
    background: #4f4f52; /* for non-css3 browsers */
    background: -moz-linear-gradient(top, #4f4f52,  #414143); /* for firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#4f4f52), to(#414143)); /* Safari 4+, Chrome */
    background: -webkit-linear-gradient(left top, left bottom, #4f4f52, #414143); /* Chrome 10+, Safari 5.1+, iOS 5+ */
    background: -o-linear-gradient(top, #4f4f52,#414143); /* Opera 11.10+ */
    background: -ms-filter:"progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#4f4f52, EndColorStr=#414143, GradientType=0)";
    background: linear-gradient(to bottom, #4f4f52,#414143); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f4f52', endColorstr='#414143', GradientType='0'); /* for IE */
    color: #FFFFFF;
    border-radius: 4px 4px 0 0;
    font-weight: normal;
}

.table .table-head td {
    background: #4f4f52; /* for non-css3 browsers */
    background: -moz-linear-gradient(top, #4f4f52,  #414143); /* for firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#4f4f52), to(#414143)); /* Safari 4+, Chrome */
    background: -webkit-linear-gradient(left top, left bottom, #4f4f52, #414143); /* Chrome 10+, Safari 5.1+, iOS 5+ */
    background: -o-linear-gradient(top, #4f4f52,#414143); /* Opera 11.10+ */
    background: -ms-filter:"progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#4f4f52, EndColorStr=#414143, GradientType=0)";
    background: linear-gradient(to bottom, #4f4f52,#414143); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f4f52', endColorstr='#414143', GradientType='0'); /* for IE */
    color: #FFFFFF;
    font-weight: normal;
}

.form-inline {
    margin: 5px 0;
}

.form-inline > .control-group, .form-inline .controls {
    display: inline;
}

.tableBordered tbody td {
    border: 1px solid #ddd;
}

.menuItem {
    color: #999999;
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.menuItem:hover {
    color: #fff;
}

.navbar .nav .active > div, .navbar .nav .active > div:hover {
    background-color: #222222;
    color: #FFFFFF;
    text-decoration: none;
}


.subMenu {
    display: none;
    position: absolute;
    padding: 5px;
    white-space: nowrap;
}

.active .subMenu {
    display: block;
}

.subMenuItem {
    color: #999999;
    display: inline;
    margin: 5px 0;
    padding: 0 5px;
    white-space: nowrap;
}

.subMenuItem:hover {
    color: #fff;
    text-decoration: none;
}

