.timer_last.hasCountdown {
    border: none;
    background: none;
}

.countdown_section {
    text-transform: lowercase;
}

.countdown_row {
    padding: 0;
    width: 100%;
    height: 100%;
}

.timer_last .countdown_amount {
    color: #ad2118;
    font: 205% Georgia;
    font-weight: bold;
}