#center_column {
    display: none;
}

#set_menu_block, #set_menu_item {
    display: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    box-shadow: 0 2px 20px #999999;
    float: left;
    height: 100px;
    padding: 25px;
    position: fixed;
    left: 80px;
    top: 160px;
    width: 300px;
}

#set_menu_item {
    left: 27%;
    height: auto;
    width: 38%;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}

.menu_icon {
    cursor: pointer;
    margin: 0 0 0 5px;
    opacity: 0.7;
}

.menu_icon:hover {
    opacity: 1;
}

.menu_icon:active {
    margin-top: 1px;
}

.close_set_menu_block {
    position: absolute;
    top: 0;
    right: 0;
}

.menu_icon_wrap {
    float: right;
}

.menu_block_item {
    background-color: #FFFFFF;
    margin: 0;
    padding: 5px;
}

.menu_items_wrap {
    border-top: 1px solid #bbb;
    margin: 3px 0;
}

.menu_block_name, #pages {
    cursor: pointer;
    float: left;
    padding: 0 10px;
}

.menu_item_names, .menu_item_selectors {
    float: left;
}

.menu_item_selectors {
    margin: 0 0 0 10px;
}

.menu_block_name.active {
    text-decoration: underline;
}

.menu_item_wrap {
    margin: 5px 10px;
    padding: 2px 5px;
    border: 1px solid #bbb;
    background: #F5F5F5;
}

.menu_item_caption {
    float: left;
}

.menu_item_icon_wrap {
    float: right;
}

.set_menu_item_wrap {
    display: none;
}

.set_menu_item_wrap.current_set {
    display: block;
}

.dropdown-menu {
    left: auto;
    top: 97%;
}

.header_menu_item {
    position: relative;
}

.menu_right {
    left: 99%;
    top: -6px;
    display: block;
}

.menu_right.dropdown-menu:after{
    display: none;
}

.menu_right.dropdown-menu:before{
    display: none;
}

.content_lang {
    display: none;
}

.content_lang.current {
    display: block;
}

.menu_item_wrap:hover {
    background-color: #BDF;
}

.hero-unit {
    padding: 10px;
}

#menu_block_wrap {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    padding: 5px;
}

#content_wrapper, body {
    background: #444;
}

.dropdown-menu {
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #333;
}

#tab_navigation {

}

.nav-tabs > li > a {
    background: #ccc;
}