<input type="hidden" name="behavior_id" class="behavior_id" value="{{if our_data}}${our_data.content.id}{{/if}}"/>
<div class="control-group">
    <div class="control-label">
        <label for="quantity">Количество статей:</label>
    </div>
    <div class="controls">
        <input id="component_name" type="text" name="quantity" value="{{if our_data}}${our_data.content.quantity}{{/if}}" />
        <span class="help help-block"></span>
    </div>
</div>