{{if our_data}}
    {{each($i, $val) our_data}}

        <tr>
            <td>${$val.id}</td>
            <td>
                <a class="new_component" title="${$val.name}" href="${base_url}admin/23/menu_item/${$val.id}">
                    ${$val.name}
                </a>
            </td>
            <td>${$val.position}</td>
            <td>
                <div data-menu_block_id="${$val.id}" class="menu_block_icon_wrap pull-right">
                    <i class="icon-pencil menu_icon editMenuBlock" title="Редактировать меню-блок"></i>
                    <i class="icon-trash menu_icon deleteMenuBlock" title="Удалить меню-блок"></i>
                </div>
            </td>
        </tr>

    {{/each}}
{{/if}}