<div id="category_wrap">

    <div class="btn btn-primary" id="addMenuBlock">Добавить меню-блок</div>

    <div class="clear"></div>

    <table style="margin-top: 15px;" class="table tableBordered table-hover">
        <thead class="table-head">
            <tr>
                <td>ID</td>
                <td>Название</td>
                <td>Позиция</td>
                <td>Действия</td>
            </tr>
        </thead>
        <tbody id="menuBlockContent">

        </tbody>
    </table>

</div>