<div id="searchContent">
    <h1>Поиск</h1>
    <form class="searchForm">
        <div>
            <label>
                Статика
                <input class="compSearchCheck" checked="checked" type="checkbox" name="places[]" value="1" />
            </label>
            <label>
                Статьи
                <input class="compSearchCheck" checked="checked" type="checkbox" name="places[]" value="7" />
            </label>
            <label>
                Статья
                <input class="compSearchCheck" checked="checked" type="checkbox" name="places[]" value="13" />
            </label>
            <label>
                Автомобили
                <input class="compSearchCheck" checked="checked" type="checkbox" name="places[]" value="26" />
            </label>
        </div>
        <input id="searchStr" name="searchStr" type="text" value="${searchStr}" placeholder="Поиск" />
    </form>

    <div class="clear"></div>

    <div id="searchResultWrap">

    </div>
</div>