.attributeTabCont {
    display: none;
}

.attributeTabCont.current {
    display: block;
}

#attributeManipulation .paginate a, #attributeManipulation .paginate span {
    color: #000;
}

#attributeManipulation .btn-group {
    float: left;
}

#paginator {
    float: left;
    margin: 5px 0 0 20px;
}

#addAttribute {
    float: left;
}

.attributeQuantity {
    float: left;
    margin: 5px 10px 0 20px;
}

.functionForm .control-label, .functionForm .help {
    display: inline;
}