<div id="content_wrapper" class="hero-unit">

    <div id="center_column" class="row-fluid">

        <div id="menu_block_wrap" class="span3"></div>
        <div id="work_space" class="span9">
            <ul id="tab_navigation" class="nav nav-tabs active" style="margin-bottom: 0;">
                <li class="nav_tab active">
                    <a href="menu_item_wrap">Home</a>
                </li>
            </ul>
            <div id="tab_container">
                <div id="menu_item_wrap" class="tab_content curr"></div>
            </div>
        </div>

    </div>

    <div class="clear"></div>

</div>