<div style="padding: 0 20px;">
    <div class="btn-group" style='margin-top: 15px'>
        <a href="newMenuItem" class="btn active switchSet">${msg}</a>
        {{if tab}}
            <a href="existedMenuItem" class="btn switchSet">Добавить существющий пункт меню</a>
        {{else}}
            <a href="relatedMenuItem" class="btn switchSet">Связанные пункты меню</a>
        {{/if}}
    </div>

    <div id="setMenuItemWrap" style="margin: 15px 0 0 0;">

        <div id="newMenuItem" class="menuItemTab current_set">

            <form class="form-horizontal" id="menuItemDataForm">

                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead class="table-head">
                        <tr>
                            <th colspan="2">
                                Общая информация о пункте меню
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style='width: 50%;'>

                                <input type="hidden" id="menu_item_id" value="{{if our_data}}${our_data.id}{{/if}}" name="id" />
                                <input type="hidden" value="{{if menu_block_id}}${menu_block_id}{{/if}}" name="menu_block_id" />
                                {{if our_data}}
                                    <input id="component_id" type="hidden" value="${our_data.component.id}" name="component_id">
                                    <input id="component_type_id" type="hidden" value="${our_data.component.component_type_id}" name="component_type_id">
                                {{/if}}


                                {{if our_data}}
                                    {{if parseInt(our_data.default_item) == 0}}

                                        <div class="control-group">
                                            <div class="control-label">
                                                <label>Пункт по умолчанию:</label>
                                            </div>
                                            <div class="controls">
                                                <input type="checkbox" value="1" name="default_item">
                                                <span class="help help-block"></span>
                                            </div>
                                        </div>

                                    {{/if}}
                                {{else}}
                                    <div class="control-group">
                                        <div class="control-label">
                                            <label>Пункт по умолчанию:</label>
                                        </div>
                                        <div class="controls">
                                            <input type="checkbox" value="1" name="default_item">
                                            <span class="help help-block"></span>
                                        </div>
                                    </div>
                                {{/if}}

                                <div class="control-group">
                                    <div class="control-label">
                                        <label for="parent_id">Родительский пункт меню</label>
                                    </div>
                                    <div class="controls">
                                        <select name="parent_id">
                                            <option value="0">No parent</option>
                                            {{if parent}}
                                                {{each($i, $value) parent}}
                                                    <option value="${$value.id}" {{if our_data && our_data.parent_id == $value.id}}selected{{/if}}>{{if $value.lvl != '1'}}${$value.lvl_sign}{{/if}} ${$value.lang[pref].value}</option>
                                                {{/each}}
                                            {{/if}}
                                        </select>
                                        <span class="help help-block"></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="control-label">
                                        <label>Компонент
                                            {{if our_data}}
                                                {{if component}}
                                                    {{each($i, $value) component}}
                                                        {{if parseInt(our_data.component.component_type_id) == $value.id}}
                                                            &nbsp;- <span class="component_name">${$value.psevdo_name}</span>
                                                        {{/if}}
                                                    {{/each}}
                                                {{/if}}
                                            {{/if}}:
                                        </label>
                                    </div>
                                    <div class="controls">

                                        {{if our_data}}

                                            {{if our_data.component.component_type_id}}
                                                <strong class="component_name">${our_data.component.name}<i title="Отвязать пункт меню" class="icon-resize-full menu_icon disconect_menu_item"></i></strong>
                                            {{/if}}
                                            <div class="component_name_search" {{if our_data.component.component_type_id}}style="display: none;"{{/if}}>
                                                <input type="text" id="component_name" name="component_name_search" value="">
                                            </div>

                                        {{else}}
                                            <select name="component_type_id" id="component_id" >
                                                <option value="0">No component</option>

                                                {{if component}}
                                                    {{each($i, $value) component}}
                                                        {{if !$value.exist && parseInt(display) == 1}}
                                                            <option value="${$value.id}">${$value.psevdo_name}</option>
                                                        {{/if}}
                                                    {{/each}}
                                                {{/if}}

                                            </select>
                                        {{/if}}

                                        <span class="help help-block"></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="control-label">
                                        <label for="parent_id">Позиция:</label>
                                    </div>
                                    <div class="controls">
                                        <input type="text" name="position" value="{{if our_data}}${our_data.position}{{/if}}" class="span3"/>
                                        <span class="help help-block"></span>
                                    </div>
                                </div>
                            </td>
                            <td style='width: 50%;'>

                                <div class="control-group">
                                    <div class="control-label">
                                        <label for="parent_id">Открывать в окне?</label>
                                    </div>
                                    <div class="controls">
                                        <input type="radio" name="window" value="1" class="checkbox" {{if our_data}}{{if parseInt(our_data.window) == "1"}}checked{{/if}}{{/if}}/>
                                        <span class="help help-block"></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="control-label">
                                        <label for="parent_id">Открывать развернуто?</label>
                                    </div>
                                    <div class="controls">
                                        <input type="radio" name="window" value="0" class="checkbox" {{if our_data}}{{if parseInt(our_data.window) == 0}}checked{{/if}}{{/if}}/>
                                        <span class="help help-block"></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="control-label">
                                        <span class="help-inline">Показывать соседей?</span>
                                    </div>
                                    <div class="controls">
                                        <input type="checkbox" name="inner_navigation" value="1" class="checkbox" {{if our_data}}{{if our_data.inner_navigation == "1"}}checked{{/if}}{{/if}}/>
                                        <span class="help help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="control-label">
                                        <span class="help-inline">Открывать пункт во вкладке?</span>
                                    </div>
                                    <div class="controls">
                                        <input type="checkbox" name="child_inner_navigation" value="1" class="checkbox" {{if our_data}}{{if our_data.child_inner_navigation == "1"}}checked{{/if}}{{/if}}/>
                                        <span class="help help-block"></span>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>

            </form>

            <table class="table table-striped table-bordered table-hover table-condensed">
                <thead class="table-head">
                    <tr>
                        <th colspan="2">
                            Название пунктов меню
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>

                            <div class="btn-group">
                                {{each($i, $val) lang}}
                                    <a href="menuItemLang_${$val.iso_code}" class="btn {{if $i == 0}}active{{/if}} menuItemLangTab">${$val.name}</a>
                                {{/each}}
                            </div>

                            <div id="menuItemLangContent" style="margin-top: 15px;">

                                {{each($i, $val) lang}}
                                    <div id="menuItemLang_${$val.iso_code}" class="content_lang {{if $i == 0}}current{{/if}}">

                                        <form class="form-horizontal menuItemForm">

                                            <input class="lang_id" type="hidden" value="{{if our_data}}{{if our_data.lang && our_data.lang[$val.iso_code] }}${our_data.lang[$val.iso_code].id}{{/if}}{{else}}0{{/if}}" name="menu_item_lang_id"/>
                                            <input type="hidden" value="${$val.id}" name="language_id"/>

                                            <div class="control-group">
                                                <div class="control-label">
                                                    <label for="value">Название пункта меню</label>
                                                </div>
                                                <div class="controls">
                                                    <input type="text" value="{{if our_data}}{{if our_data.lang && our_data.lang[$val.iso_code] }}${our_data.lang[$val.iso_code].value}{{/if}}{{/if}}" name="value">
                                                    <span class="help help-block"></span>
                                                </div>
                                            </div>


                                            <div class="form-actions">
                                                <div class="pull-right">
                                                    <button class="btn btn-primary" type="submit">Сохранить изменения</button>
                                                    <div class="btn cancel">Отмена</div>
                                                </div>
                                            </div>

                                        </form>

                                    </div>

                                {{/each}}

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div id="existedMenuItem" class="menuItemTab">

            {{if related}}
                <form class="menu_item_related_form">
                    <div class="control-group">

                        {{each($i, $value) related}}
                            <input type="checkbox" name="related_menu_item[]" value="${$value.menu_item.id}" class="checkbox" {{if $value.relation}}checked{{/if}} />
                            <label class="help-inline" for="related_menu_item[]">${$value.lang.ru.value}</label>
                            <div class="clear"></div>
                        {{/each}}

                    </div>

                    <button type="submit" class="btn btn-success">Save</button>

                </form>
            {{/if}}

        </div>

        <div id="relatedMenuItem" class="menuItemTab">

            {{if our_data}}
                <form id="relation_menu_item">
                    <input type="hidden" value="{{if our_data}}${our_data.id}{{/if}}" name="menu_item_id" />
                    {{each($i, $value) edit_parent}}
                        <input class="checkbox" type="checkbox" value="${$value.id}" {{if $value.related}}checked{{/if}} name="related_menu_item_id[]">
                        <label class="help-inline" for="related_menu_item_id[]">{{if $value.lvl != '1'}}${$value.lvl_sign}{{/if}} ${$value.lang.ru.value}</label>
                        <div class="clear"></div>
                    {{/each}}

                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            {{/if}}

        </div>

    </div>
</div>