<table style="margin-top: 15px;" class="table tableBordered table-hover">

    <thead class="table-head">
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Дата выхода</td>
            <td>Действия</td>
        </tr>
    </thead>

    <tbody>

        {{each($i, $val) our_data}}
            <tr>
                <td>${$val.id}</td>
                <td>${$val.lang[pref].title}</td>
                <td>${$val.date} ${$val.time}</td>
                <td>
                    <div data-article_item_id="${$val.id}" class="article_icon_wrap pull-right">
                        <i class="icon-pencil menu_icon editArticle" title="Редактировать статью"></i>
                        <i class="icon-trash menu_icon deleteArticle" title="Удалить статью"></i>
                    </div>
                </td>
            </tr>
        {{/each}}

    </tbody>

</table>