
<div class="btn-group">
    <a href="articlesList" class="btn active articleMaxTab">Перечень статей</a>
    <a href="articlePageData" class="btn articleMaxTab">Настройки страницы статей</a>
</div>

<div id="articlesContent">

    <div id="articlesList" class="articleTabContent cur">

        <div id="articleManipulation">

            <div class="btn btn-primary add_article">Добавить статью</div>

            <div class="articleQuantity">
                Количество статей на странице:
            </div>
            <div class='btn-group'>
                <div data-limit="20" class="btn quantity active">20</div>
                <div data-limit="40" class="btn quantity">40</div>
                <div data-limit="60" class="btn quantity">60</div>
                <div data-limit="80" class="btn quantity">80</div>
                <div data-limit="100" class="btn quantity">100</div>
            </div>

            <div id="paginator"></div>

        </div>

        <div class="clear"></div>

        <div class="articlesList"></div>


    </div>

    <div id="articlePageData" class="articleTabContent">



    </div>

</div>