<div class="control-group autoModelWrap">
    <div class="control-label">
        <label for="description">Автомодель:</label>
    </div>
    <div class="controls">
        <input type='hidden' name='automodel_id[]' value="" />
        <input class='autoModelName' id='autoModelName_${id}' type="text" name="automodelname[]" value="" />
        <i class='icon-remove menu_icon removeAutoModel'></i>
        <span class="help help-block"></span>
    </div>
</div>