<div id="characteristic_char_wrap">
    <h3>Характеристики</h3>

    {{each($i, $val) our_data}}
        {{if parseInt($val.type_id) == 1}}
            <div class="characteristic_wrap">
                <div class="characteristic_caption">${$val.lang[pref].name}</div>
                <div data-characteristic_id="${$val.id}" class="characteristic_icon_wrap">
                    <i class="icon-pencil menu_icon edit_characteristic" title="Редактировать характеристику"></i>
                    <i class="icon-trash menu_icon delete_characteristic" title="Удалить характеристику"></i>
                </div>
                <div class="clear"></div>
            </div>
        {{/if}}
    {{/each}}

</div>
<div  id="characteristic_compl_wrap">
    <h3>Комплектации</h3>

    {{each($i, $val) our_data}}
        {{if parseInt($val.type_id) == 2}}
            <div class="characteristic_wrap">
                <div class="characteristic_caption">${$val.lang[pref].name}</div>
                <div data-characteristic_id="${$val.id}" class="characteristic_icon_wrap">
                    <i class="icon-pencil menu_icon edit_characteristic" title="Редактировать характеристику"></i>
                    <i class="icon-trash menu_icon delete_characteristic" title="Удалить характеристику"></i>
                </div>
                <div class="clear"></div>
            </div>
        {{/if}}
    {{/each}}

</div>