<div id="rank_filter">
    <label>Отображать с рангом не ниже
        <select id="rank_select" name="ranks" size="1">
            <option value="9" selected="selected">Нет</option>
            <option value="5">V</option>
            <option value="4">IV</option>
            <option value="3">III</option>
            <option value="2">II</option>
            <option value="1">I</option>
            <option value="0">VIP</option>
        </select>
    </label>
</div>