<a data-news_online_id="${our_data.id}" style="display: none;" href="${site_url}{{if pref !== 'ru'}}${pref}/{{/if}}newsonlineitem/${our_data.id}/106/0/${lang_id}/" title="${our_data.langs[pref].title}" class="new_component info_article_item hover updated">${our_data.time}&nbsp;${our_data.langs[pref].title.slice(0, 70)}...</a>
<div class="clear"></div>