<div id="width_text_description">
    <div id="width_text_desc">
        {{html our_data.lang[pref].hidden_description}}
    </div>
</div>

<div class="info_light">
    <img src="${site_url}images/light.png"/>
</div>